// functions
@function font-size($size) {
  @return map-get($font-size, $size);
}

@function font-weight($weight) {
  @return map-get($font-weight, $weight);
}

// mixins
@mixin transition {
  transition: all 1s ease-out;
}

@mixin background($show-home-image: true) {
  @if $show-home-image {
    background: linear-gradient(#201a23e2, #201a23de), $bg-img;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  } @else {
    background: $primary-clr;
    opacity: 0.8;
  }
}

@mixin pencil-animation {
  main#work .center {
    width: 120px;
    top: 45% !important;
    left: 50%;
    animation: animate-pen-sm 5s linear infinite;
  }

  .center:before {
    width: 0;
    height: 0;
    background: $secondary-clr !important;
    animation: Noanimation 0s !important;
  }
  .stroke {
    width: 150px;
    height: 3px;
    background: $secondary-clr;
    position: absolute;
    top: 60% !important;
    left: 50% !important;
  }
  .stroke:after {
    width: 0% !important;
    height: 0% !important;
    animation: NoAnimation 0s !important;
  }
}
