$primary-clr: #201a23;
$secondary-clr: #50ffb1;
$clr-3: #47a8bd;
$clr-blue-4: #623cea;
$text-color: rgb(250, 234, 234);

$font-size: (
  "biggest": 6rem,
  "bigger": 4rem,
  "link-font": 1.2rem,
);

$font-weight: (
  "regular": 400,
  "large": 700,
);

$bg-img: url("/images/code.png");
