@import "variables";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-clr;
  color: $text-color;
}
.nickname {
  color: $secondary-clr;
  font-size: 2.7rem;
}
.fa {
  color: $secondary-clr;
}
