@import "variables";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background($show-home-image: true);
  @include background-no-img($theme2: false);
  color: $text-color;
  line-height: 1.5;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $text-color;
  text-decoration: none;
  list-style-type: none;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: font-weight(regular);

  &.lg-heading {
    font-size: font-size(bigger);
  }

  .nickname {
    color: $secondary-clr;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: font-size(biggest);
    font-weight: font-weight(large);
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.3rem 0.5rem;
    background: lighten($primary-clr, 2%);
    border-radius: 2px;
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 4rem 0;
  overflow: hidden;
  h1 {
    margin-top: 20vh;
  }
  .fa {
    padding-right: 15px;

    &:hover {
      @include transition;
      color: $secondary-clr;
    }
  }
}
